body {
  /* Parallax scrolling*/
  background-image: url(resources/bush.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  padding: 1%;
}
h1 {
  color: black;
  margin-left: 4%;
}
.hoveroveritem:hover {
  background-color: grey;
}
.hoveroveritem {
    padding: 2%;
}
.navbararoni {
  padding:1%;
}
.mainman:hover {
    background-color:grey;
    color: black;
   }
.mainman {
   padding: 0.5%;
   color: black;
}
.textblock {
  /*The main black and white pattern themes*/
  background-color: white;
  padding: 1%;
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  font-size:large;
  border-radius: 20px;
}
.tableofcontents {
  max-width: 25%;
  float: left;
  border-radius: 5%;
}
#cs-block {
  display: inline;
}
form {
  display: inline;
}
.headerino {
  margin: 0.5%;
}
#cs-combinations {
  display: inline-block;
}
.instruction-block{
  margin-left: 1%;
  float: left;
}
.image-right {
  float: right;
}
.extrapadding {
  padding: 1%;
}
.articleblock {
  float: left;
}
/* for the rollover */
.rollovertrigger {
  position: relative;
  display: inline-block;
}
.rolloverbox {
  visibility: hidden;
  color: white;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  z-index: 1;
  width: 400%;
  bottom:100%;
  left: 50%;
  margin-left: -200%;
  border-radius: 10px;
}
.rollovertrigger:hover .rolloverbox{
  visibility: visible;
}
