table tr th{
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.mole {
    z-index: 1;
}
@keyframes whackamolefade{
    from {opacity: 1;}
    to {opacity: 0; visibility: hidden;}
}